SPRING_ACTIVE_PROFILE=dev # docker or dev (dev for local startup without docker)

POSTGRES_USER=user
POSTGRES_PASSWORD=password

PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=password

MONGO_USER=user
MONGO_PASSWORD=password

MONGO_EXPRESS_USER=user
MONGO_EXPRESS_PASSWORD=password

MAIL_DEV_USER=user
MAIL_DEV_PASSWORD=password

FLYWAY_USER=user
FLYWAY_PASSWORD=password

KEYCLOAK_ADMIN=user
KEYCLOAK_ADMIN_PASSWORD=password
